<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Configuration form</title>
</head>
<body>
    <form action={{vars.url}} method="post" enctype="multipart/form-data">
        {% for elem in vars.elements %}
            <label for="{{elem['name']}}">{{elem['name']}} ({{elem['value']}})</label>
            <input type="{{elem['type']}}" name="{{elem['name']}}" id="{{elem['name']}}" value="{{elem['value']}}">
            <br>
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
</body>
</html>